.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Flow.Launcher.Plugin.Insert/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/Flow.Launcher.Plugin.Insert/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
.vs/Flow.Launcher.Plugin.Insert/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
.vs/Flow.Launcher.Plugin.Insert/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/Flow.Launcher.Plugin.Insert/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
.vs/Flow.Launcher.Plugin.Insert/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
.vs/Flow.Launcher.Plugin.Insert/FileContentIndex/1f73ec40-baf0-44e9-b2fd-bd81d24ac17f.vsidx
.vs/Flow.Launcher.Plugin.Insert/FileContentIndex/07a37ebf-8b81-4ff2-8796-fa52fe6f0d33.vsidx
.vs/Flow.Launcher.Plugin.Insert/v17/.wsuo
.vs/Flow.Launcher.Plugin.Insert/v17/DocumentLayout.json
obj/Flow.Launcher.Plugin.Insert.csproj.nuget.dgspec.json
obj/Flow.Launcher.Plugin.Insert.csproj.nuget.g.props
obj/Flow.Launcher.Plugin.Insert.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/Flow.Lau.B35A8463.Up2Date
obj/Debug/Flow.Launcher.Plugin.Insert_MarkupCompile.cache
obj/Debug/Flow.Launcher.Plugin.Insert.AssemblyInfo.cs
obj/Debug/Flow.Launcher.Plugin.Insert.AssemblyInfoInputs.cache
obj/Debug/Flow.Launcher.Plugin.Insert.assets.cache
obj/Debug/Flow.Launcher.Plugin.Insert.csproj.AssemblyReference.cache
obj/Debug/Flow.Launcher.Plugin.Insert.csproj.CoreCompileInputs.cache
obj/Debug/Flow.Launcher.Plugin.Insert.csproj.FileListAbsolute.txt
obj/Debug/Flow.Launcher.Plugin.Insert.dll
obj/Debug/Flow.Launcher.Plugin.Insert.g.resources
obj/Debug/Flow.Launcher.Plugin.Insert.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/Flow.Launcher.Plugin.Insert.pdb
obj/Debug/Flow.Launcher.Plugin.Insert.xml
obj/Debug/View/SettingsControl.baml
obj/Debug/View/SettingsControl.g.cs
obj/Debug/ref/Flow.Launcher.Plugin.Insert.dll
obj/Debug/refint/Flow.Launcher.Plugin.Insert.dll
obj/Release/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Release/Flow.Lau.B35A8463.Up2Date
obj/Release/Flow.Launcher.Plugin.Insert_MarkupCompile.cache
obj/Release/Flow.Launcher.Plugin.Insert.AssemblyInfo.cs
obj/Release/Flow.Launcher.Plugin.Insert.AssemblyInfoInputs.cache
obj/Release/Flow.Launcher.Plugin.Insert.assets.cache
obj/Release/Flow.Launcher.Plugin.Insert.csproj.AssemblyReference.cache
obj/Release/Flow.Launcher.Plugin.Insert.csproj.CoreCompileInputs.cache
obj/Release/Flow.Launcher.Plugin.Insert.csproj.FileListAbsolute.txt
obj/Release/Flow.Launcher.Plugin.Insert.dll
obj/Release/Flow.Launcher.Plugin.Insert.g.resources
obj/Release/Flow.Launcher.Plugin.Insert.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/Flow.Launcher.Plugin.Insert.xml
obj/Release/View/SettingsControl.baml
obj/Release/View/SettingsControl.g.cs
obj/Release/ref/Flow.Launcher.Plugin.Insert.dll
obj/Release/refint/Flow.Launcher.Plugin.Insert.dll
bin/Debug/Flow.Launcher.Plugin.dll
bin/Debug/Flow.Launcher.Plugin.Insert.deps.json
bin/Debug/Flow.Launcher.Plugin.Insert.dll
bin/Debug/Flow.Launcher.Plugin.Insert.pdb
bin/Debug/Flow.Launcher.Plugin.Insert.xml
bin/Debug/JetBrains.Annotations.dll
bin/Debug/plugin.json
bin/Debug/PropertyChanged.dll
bin/Release/Flow.Launcher.Plugin.dll
bin/Release/Flow.Launcher.Plugin.Insert.deps.json
bin/Release/Flow.Launcher.Plugin.Insert.dll
bin/Release/Flow.Launcher.Plugin.Insert.xml
bin/Release/JetBrains.Annotations.dll
bin/Release/plugin.json
bin/Release/PropertyChanged.dll
